# source file
CONFIG_TEST
    choice = n, y

CONFIG_MAIN
    choice = n, y
    depend = CONFIG_TEST


SRC-$(CONFIG_MAIN) += main.c

# head file path
PATH    += sdl/include/SDL2

# sdl library
LIBPATH += sdl/lib
LIB     += mingw32 SDL2main SDL2.dll