#****************************************************************
#* lite-manager                                                 *
#* NOTE: You can edit this file to configure the project        *
#****************************************************************

COMPILER = gcc
CONFIG_DEBUG = y
CONFIG_LOG_LEVEL = 0
CONFIG_MEM_POOL_SIZE = 20
CONFIG_MACRO_CACHE_SIZE = 100
CONFIG_TEST = n
CONFIG_MACRO_xxxx = n
